* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    padding-top: 100px; /* Adjust the value as needed to create enough space below the header */
    justify-content: center;
}

.center {
    flex: 2;
    text-align: left;
    background-color: brown;
    
  }

.left {
    flex: 1;
    text-align: left;
    background-color: orange;
}

.right {
    flex: 1;
    text-align: left;
    background-color: purple;
}

.centerHeader {
    text-align: center;
}

/* Apply a reset for default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; /* Add this line to remove default margin */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    transition: top 0.3s; /* Add a transition for smooth effect */
    height: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}

footer {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}


